@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: passe;
    src: url(Heading-Now-Trial-58-Heavy/HeadingNowTrial-58Heavy.ttf)
 }
*{
    margin: 0;
    padding: 0;
}
body{
    -webkit-font-smoothing: antialiased;
    background-color: #282828;
    overflow-x: hidden;
}
.cabecalho{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(139, 87, 222);
    padding: 15px 0;
    position: relative;
    border-top: 2px solid rgb(38, 0, 63);
    border-bottom: 2px solid rgb(38, 0, 63);
    transform: rotate(358deg);
    
    
}
.titulo-cabecalho{
    display: inline;
    color: white;
    font-size: 2em;
    font-weight: bold;
    
    
}
.titulos{
    width: 100vw;
    animation: passar 10s linear infinite;
    display: flex;
    gap: 100px;
    font-family: "inter tight",arial;
}
.principal{
    background-color: #282828;
    padding: 15px;
    
}
.apresentacao{
    background-color: rgb(241, 121, 1);
    border-radius: 15px;
    width: 100%;
    padding: 300px 20px 20px 20px;
}
.box-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-apresetacao{
    font-family: "passe";
    font-size: 3em;
    line-height: 1em;

}
.texto-apresentacao{
    font-family: "inter tight",arial;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: -0.7px;
}
.botao-apresentacao{
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    font-size: 1.3em;
    background-color: rgb(22,22,20);
    font-family: "inter tight";
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
}
.status{
    width: 13px;
    height: 13px;
    background-color: rgb(4, 206, 4);
    border-radius: 50%;
    animation: piscar 2s linear infinite;
}
.nome-principal{
    font-family: "passe";
    margin-bottom: -52px;
    margin-top:60px;
    text-align: center;
    color: rgb(24, 24, 22);;
    font-size: 5em;
}
.textos-apresentacao{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.emoji{
    font-size: 1.4em;
}
.rede{
    background-color: #282828;
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}
.box-redes{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 30px;
    
}
.fa-instagram,.fa-linkedin{
    color: white;
    font-weight: 500;
    font-size: 2.5em;
}
.titulo-sobre{
    font-family: "passe";
    
    margin-top:60px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1.2px;
    color: rgb(228, 228, 228);;
    font-size: 2em;
    z-index: 2000;
   position: relative;
}
.ticket{
    animation: fadeimg;
    animation-timeline: view(auto auto);
    
}
.paragrafo-sobre{
    font-family: "inter tight";
    color: white;
    font-size: 1.2em;
    margin-top: 35px;
   

}
.imagem-box{
    display: flex;
    justify-content: end;
    z-index: -1;
    margin-top: -15px;
}
@keyframes fadeimg{
    0%{
       transform: rotate(0deg);
       filter: blur(5px);
    }
    40%{
        transform: rotate(-10deg);
        filter: blur(0px);
    }
        

}
@keyframes piscar{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
@keyframes passar{
    0% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}